# requirements.txt
# ----------------
# This file lists the Python packages required by this project.
# To install them, run: pip install -r requirements.txt

# --- Core Scientific Computing & Data Analysis ---
h5py==3.14.0
matplotlib==3.10.6
numpy #==2.3.3
pandas==2.3.3
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3 #1.16.2

# --- 3D, Visualization & Geometry ---
chumpy==0.70
open3d==0.19.0
plyfile==1.1.2
pygltflib==1.16.5
pyvista==0.46.1
pyvistaqt==0.11.3
transforms3d==0.4.2
trimesh==4.7.4
vtk==9.4.2

# --- Image & Computer Vision ---
opencv-contrib-python==4.12.0.88
Pillow==11.3.0

# --- Pydantic & Data Validation ---
pydantic==2.11.10
pydantic-core==2.33.2
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1

# --- GUI Framework (Choose ONE section) ---
# Option 1: PyQt5
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0

# Option 2: PyQt6 (Commented out by default)
# PyQt6==6.9.1
# PyQt6-Qt6==6.9.1
# pyqt6_sip==13.10.2

# --- Workflow Orchestration ---
prefect==3.4.22

# --- Machine Learning ---
tensorflow==2.20.0
torch==2.8.0

# --- Miscellaneous ---
keyboard
modules==1.0.0
psutil==7.0.0
psychopy==2025.1.1
pygame==2.6.1
pyk4a==1.5.0; platform_system != "Darwin" # Python wrapper for Azure Kinect SDK
pynput==1.8.1
pyserial==3.5
pywin32==311
PyYAML==6.0.3
QtPy==2.4.3
tifffile==2025.5.10
tqdm==4.67.1