chumpy==0.70

h5py==3.14.0
matplotlib==3.10.5
numpy

open3d==0.19.0
opencv-contrib-python==4.12.0.88

pandas==2.3.1
pillow
prefect==3.4.13
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2

pygame==2.6.1

pyk4a==1.5.0

PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0

PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2

pyvistaqt==0.11.3
pygltflib==1.16.5

scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.15.3

transforms3d==0.4.2
trimesh==4.7.4

vtk==9.4.2

