# ==============================================================================
# MANUAL PROCESSING PIPELINE CONFIGURATION
# ==============================================================================
# Logic:
#   - Set 'enabled: true' to activate a task.
#   - 'depends_on' defines the DAG execution order.
# ==============================================================================
# ==============================================================================
# MANUAL PROCESSING PIPELINE CONFIGURATION
# ==============================================================================

parameters:
  kinect_configs_directory: "kinect_configs/all_valid_configs_ST16-05"

tasks:
  # PHASE 1: INITIALIZATION
  prepare_led_tracking:
    enabled: true
    description: "Manually select the led roi."
    depends_on: []
    options:
      force_processing: false

  prepare_hand_model:
    enabled: true
    description: "Manually select the hand and 3D hand model."
    depends_on: []
    options:
      force_processing: false

  review_2d_stickers:
    enabled: true
    description: "Manually define/review the tracking ROI for stickers on the hand."
    depends_on: []
    options:
      force_processing: false

  # PHASE 2: REFINEMENT
  prepare_stickers_colorspace:
    enabled: true
    description: "Manually define the colorspace of stickers on the hand."
    depends_on: [review_2d_stickers]
    options:
      force_processing: false

  review_handstickers_color_threshold:
    enabled: true
    description: "Manually define the correlation videos threshold."
    depends_on: [review_2d_stickers]
    options:
      force_processing: false

  define_trial_chunks:
    enabled: true
    description: "Define the trial chunks."
    depends_on: [review_handstickers_color_threshold]
    options:
      force_processing: false

  review_single_touches:
    enabled: true
    description: "Review the automatically segmented single touches."
    depends_on: [define_trial_chunks]
    options:
      force_processing: false